# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
*.tsbuildinfo

# Env
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
*.tif
*.tiff
*.geojson
!samples/**/*.geojson
pgdata/
miniodata/
natsdata/
geoint_deploy_key
geoint_deploy_key.pub

# archives
*.zip
*.tar.gz
